<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="aspect">

    <application>
        <activity
            android:name="vaop.permission.PermissionRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>
